<!DOCTYPE html>
<html>
<head>
<title>Anastasiia Bateman - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Anastasiia Bateman."/>
<meta charset="UTF-8"> 

<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  

<link type="text/css" rel="stylesheet" href="style.css">

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<%= image_tag('headshot.jpg', alt: 'Anastasiia Bateman') %>
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Anastasiia Bateman</h1>
			<h2 class="quickFade delayThree">Junior Software Engineer</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>e: <a href="mailto:anastasiia.bateman@gmail.com<" target="_blank">anastasiia.bateman@gmail.com</a></li>
				<li>w: <a href="https://github.com/Bateman42">https://github.com/Bateman42</a></li>
				<li>m: 2523053504</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Summary</h1>
				</div>
				
				<div class="sectionContent">
					<p>Passionate and self-motivated software engineer student seeking entry-level position in the tech industry. Experienced with Agile and SCRUM methodologies. Eager to collaborate, explore new technologies, and uphold high quality code standards</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		<br/>

		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Code the Dream Coding Bootcamp</h2>
					<p class="subDetails"> Mar. 2021 – Jul. 2021</p>
					<p>Ruby on Rails Back End Class</p>	
				</article>
				<article>
					<h2>College of the Albemarle</h2>
					<p class="subDetails">Aug. 2020 – May 2021</p>
					<p>Fundamentals of Computer Programming, 4.0 GPA</p>
				</article>
				<article>
					<h2>South Ural State University</h2>
					<p class="subDetails">Sep. 2013 – June 2017</p>
					<p></p>
			</div>
			<div class="clear"></div>
		</section>

		
		<section>
			<div class="sectionTitle">
				<h1>Professional Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Code the Dream | Internship (practicum)</h2>
					<p class="subDetails"> Aug. 2021 – Sept. 2021</p>
					<p>Worked with an agile scrum team on an application for textbook and student resource sharing. Designed elements of the UX, implemented user data access objects, and crud operations. Developed user authentication.</p>			
				</article>
			</div>

			<div class="sectionContent">
				<article>
					<h2>Keon Taekwondo | Business Director</h2>
					<p class="subDetails"> Apr. 2019 – Sept. 2020</p>
					<p>Supervised children and developed activities to improve engagement and academic performance.</p>			
				</article>
			</div>
			<div class="clear"></div>
		</section>
		

		<section>
			<div class="sectionTitle">
				<h1>Skills</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h3>Programming Languages:</h3>
					<p> Ruby on Rails, Visual Basic, JavaScript, HTML + CSS, SQLite</p>
				<article>
					<h3>Spoken Languages:</h3>
					<p> Russian (native); English (fluent)</p>
				<article>
					<h3>Operating Systems:</h3>
					<p> Windows, Linux, Mac OS </p>
				<article>
					<h3>Development Environment:</h3>
					<p> Visual Studio, Android Studio, Ruby on Rails</p>
				<article>
					<h3>Professional Software:</h3>
					<p> Microsoft Office Suite, Git Version Control, Visual Studio Code</p>
				<article>
					<h3>Soft Skills:</h3>
					<p>Critical Thinking, Problem Solving, Strong Logical Reasoning, Effective Communication, Time Management, Leadership, Collaboration</p>
				</article>

			</div>
			<div class="clear"></div>
		</section>

		
		<section>
			<div class="sectionTitle">
				<h1>Projects</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>What to Watch</h2>
					<p class="subDetails">May. 2021 – July. 2021</p>
					<p>Utilized Ruby on Rails to create an application that sorts and rates movie titles.</p>			
				</article>
			</div>

			<div class="sectionContent">
				<article>
					<h2>Bird App</h2>
					<p class="subDetails"> Mar. 2021 – Mar. 2021</p>
					<p>Utilized Android Studio and Java to create an application that generates audio bird sounds.</p>			
				</article>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>The Frame Shoppe Project </h2>
					<p class="subDetails"> Sept. 2020 – Dec. 2020</p>
					<p>Utilized Visual Studio and Visual Basic programming language to create and design an application that estimates the price and appropriate size for picture frames.</p>			
				</article>
			</div>
			<div class="clear"></div>
		</section>	

		<section>
			<div class="sectionTitle">
				<h1>Relevant Courses</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
						<li> •  Computer Programming</li> <br/>
						<li> •  Web, Programming and Database Foundation</li> <br/>
						<li> •  Network and Security Foundation</li><br/>
						<li> •  Mobile Application Development</li><br/>
						<li> •  Intro to JavaScript Drawing and Animation</li><br/>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
</body>
</html>
